<?php $this->load->view('admin/layouts/header.html'); ?>

<?php $this->load->view('admin/layouts/left.html'); ?>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            后台用户管理
            <small>用户列表</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 用户管理</a></li>
            <li class="active">后台用户管理</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">后台用户管理</h3>
                    </div><!-- /.box-header -->
                    <div class="row page-title-row" style="margin:5px;">
                        <div class="col-md-6">
                            <p style="color: red;font-size: 12px">温馨提示：点击用户名链接可以编辑用户</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="<?php echo site_url('/admin/manager/add'); ?>" class="btn btn-success btn-md">
                                <i class="fa fa-plus-circle"></i> 添加账号
                            </a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row"><table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>用户名</th>
                                <th>真实姓名</th>
                                <th>用户组</th>
                                <th>创建时间</th>
                                <th>近期登录</th>
                                <th>开启/禁用</th>
                            </tr></thead>
                            <tbody>
                            <?php foreach($users as $user):?>
                            <tr>
                                <td><a href="<?php echo site_url('admin/manager/edit/').$user['id']?>"> <?=$user['username']?></a></td>
                                <td><?=$user['realname']?></td>
                                <td><?=$user['groupname']?></td>
                                <td><?=$user['dtime']?></td>
                                <td><?=$user['lastlogintime']?></td>
                                <td>
                                    <div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
                                        <label>
                                            <input type="checkbox" value="<?=$user['id']?>" name="isenable" <?=$user['isable']?'checked':''; ?> ><span></span>
                                        </label>
                                    </div>
                                </td>
                               <!-- <td>
                               <a style="margin:3px;" href="#" attr="<?=$user->id?>" class="delBtn X-Small btn-xs text-danger "><i class="fa fa-times-circle-o"></i> 删除</a></td>
                           --> </tr>
                            <?php endforeach; ?>
                            </tbody>
                        </table></div>
                        <div class="row"><div class="col-sm-5">
                            <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">

                            </div></div>

                            <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                          <?=$page?>
                          </div></div></div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<?php $this->load->view('admin/layouts/footer_model.html'); ?>

<script type="text/javascript">
    $(function () {
        $("input[name='isenable']").click(function () {
            $.post("<?php echo site_url('admin/manager/setstatus/')?>"+$(this).val(),function(data){

                if(data==true)$(".modal-body").html(" <p class=\"lead\">\n" +
                    "                        <i class=\"fa fa-question-circle fa-lg\"></i>\n" +
                    "                       操作成功\n" +
                    "                    </p>");
               else
                    $(".modal-body").html(" <p class=\"lead\">\n" +
                        "                        <i class=\"fa fa-question-circle fa-lg\"></i>\n" +
                        "                       操作失败\n" +
                        "                    </p>");
                $("#modal-news").modal();
            });
        });
    });

</script>