<?php $this->load->view('admin/layouts/header.html'); ?>

<?php $this->load->view('admin/layouts/left.html'); ?>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            新华数据接口管理
            <small>新华数据接口列表</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 接口管理</a></li>
            <li class="active">新华数据接口</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">接口充值</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <?php if(isset($alert)){?>
                        <div class="alert alert-danger alert-dismissible" aria-hidden="true" id="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <p><?php echo $alert;?></p>
                        </div><?php }?>
                        <div class="row">
                            <form class="form-horizontal" method="post" action="<?php echo site_url('admin/userpro/update/').$api_upid; ?>">
                                <div class="col-md-6">
                                     <input type="hidden" name="api_userid" value="<?=$user->id?>">
                                    <input type="hidden" name="api_upid" value="<?=$api_upid?>">
                                    <div class="form-group">
                                        <label  class="col-sm-2 control-label">账号:</label>
                                        <div class="col-sm-10">
                                            <?=$user->username?>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">企业名称:</label>
                                        <div class="col-sm-10">
                                            <?=$user->realname?>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label  class="col-sm-2 control-label">接口名称:</label>

                                        <div class="col-sm-10">
                                          <?=$product->pro_name?>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-sm-2 control-label">api调用名</label>

                                        <div class="col-sm-10">
                                          <?=$product->api_name?>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="count" class="col-sm-2 control-label">充值数量</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control" name="count" id="count" value="" placeholder="充值数量">
                                     </div>
                                    </div>


                                    <!-- /.box-body -->
                                    <div class="box-footer" style="text-align: center;">
                                        <button type="submit" class="btn btn-info">确定</button> &nbsp;&nbsp;
                                    </div>
                                    <!-- /.box-footer -->
                                </div>
                            </form>

                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<?php $this->load->view('admin/layouts/footer.html'); ?>