<?php $this->load->view('admin/layouts/header.html'); ?>

<?php $this->load->view('admin/layouts/left.html'); ?>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            新华数据接口管理
            <small>新华数据接口列表</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 接口管理</a></li>
            <li class="active">新华数据接口</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">

        <div class="row page-title-row" style="margin:5px;">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 text-right">
                <a href="<?php echo site_url('admin/userpro/buy/').$userid?>" id="buy" class="btn btn-success btn-md">
                    <i class="fa fa-plus-circle"></i>购买接口
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <input type="hidden" id="current" value="<?=$userid?>">
                                <ul id="userlist" class="list-group list-group-unbordered">
                                    <?php foreach($users as $user):?>
                                    <a href="<?php echo site_url('admin/userpro/index/').$user->id ?>">
                                        <li class="list-group-item <?php if($user->id==$userid){echo 'uactive';}?>">
                                    <b> <?=$user->realname?></b>
                                    </li></a>
                                   <?php endforeach;?>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true">企业已购买接口</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="activity">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>接口名</th>
                                    <th>调用名</th>
                                    <th>使用数</th>
                                    <th>收费数</th>
                                    <th>总数</th>
                                    <th>购买时间</th>
                                    <th>操作</th>
                                    <th>禁用/启用</th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach($prolist as $product):?>
                                <tr>
                                    <td><b> <?=$product['pro_name']?></b> </td>
                                    <td><?=$product['api_name']?></td>
                                    <td><?=$product['used_count']?></td>
                                    <td><?=$product['charge_count']?></td>
                                    <td><?=$product['all_count']?></td>
                                    <td><?=$product['create_time']?></td>
                                    <td> <a href="<?php echo site_url('admin/userpro/recharge/').$product['id']?>" class="btn btn-success btn-md"> 续费</a></td>
                                    <td>
                                        <div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
                                            <label>
                                                <input type="checkbox" value="<?=$product['id']?>" name="isenable" <?=$product['isable']?'checked':''; ?> ><span></span>
                                            </label>
                                        </div>
                                    </td>
                                   </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
                </div></div></div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<?php $this->load->view('admin/layouts/footer_model.html'); ?>
<style type="text/css">
    .uactive{background-color:#3c8dbc; color: #f4f4f4;}
    .uactive a{color: #f4f4f4;}
    #userlist li{cursor: pointer;}
</style>

<script type="text/javascript">
    $(function () {
        $("input[name='isenable']").click(function () {
            $.post("<?php echo site_url('admin/userpro/setstatus/')?>"+$(this).val(),function(data){
                if(data==true)$(".modal-body").html(" <p class=\"lead\">\n" +
                    "                        <i class=\"fa fa-question-circle fa-lg\"></i>\n" +
                    "                       操作成功\n" +
                    "                    </p>");
                else
                    $(".modal-body").html(" <p class=\"lead\">\n" +
                        "                        <i class=\"fa fa-question-circle fa-lg\"></i>\n" +
                        "                       操作失败\n" +
                        "                    </p>");
                $("#modal-news").modal();
            });
        });
    });

</script>